<%= form_with(model: minified_link, local: true) do |form| %>
  <% if minified_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(minified_link.errors.count, "error") %> prohibited this minified_link from being saved:</h2>

      <ul>
        <% minified_link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field input-group col-md-10 col-sm-12">
      <%#= form.label :original_url %>
      <%= form.text_field :original_url, 
                          class: 'form-control',
                          placeholder: 'insert here the url to minify' %>

      
    </div>

    <div class="actions form-group col-md-2 col-sm-12">
      <%= form.submit 'Minify url', class: 'btn btn-primary col-sm-12' %>
    </div>
  </div>
<% end %>
