<% if notice %>
<div id="notice" class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end -%>
<h1>Little URL</h1>

<div class="minifier-form-container pb-2">
  <%= render 'form', minified_link: @minified_link %>
</div>

<table class="table table-striped mt-3">
  <thead class='thead-dark'>
    <tr>
      <th><%= t('activerecord.attributes.minified_link.original_url') %></th>
      <th><%= t('activerecord.attributes.minified_link.minified_path') %></th>
      <th><%= t('activerecord.attributes.minified_link.created_at') %></th>
    </tr>
  </thead>

  <tbody>
    <% @minified_links.each do |minified_link| %>
      <tr>
        <td><%= link_to minified_link.original_url, minified_link.original_url %></td>
        <td><%= link_to [request.base_url , minified_link.minified_path].join('/'), [request.base_url , minified_link.minified_path].join('/') %></td>
        <td><%= l minified_link.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Minified Link', new_minified_link_path %>
